@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(40, 40, 40);
}




@media screen and (max-width: 768px) {
  .animation {
    animation: mymove 5s forwards;
  }
  .animation2 {
    font-size: 5vw;
  }
}

@keyframes mymove {
  50% {font-size: 10vw;}
}

@media screen and (max-width: 1980px) {
  .animation {
    animation: mymove2 5s forwards;
  }
}

@keyframes mymove2 {
  100% {font-size: 4vw;}
}

hr {
  width: 80%;
  height:0.45vh;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}
