@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(40, 40, 40);
}

.animation {
  animation: mymove 5s forwards;
}

@keyframes mymove {
  100% {font-size: 3vw;}
}